<div class="list-container">
	<% for (let i in posts) { %>
		<a href="/<%= encodeURIComponent(posts[i].name.toLowerCase().replace(/[^\w,\s]/g, '').replace(/\s/g, '-')) %>/<%= posts[i].id %>">
			<div class="list-item">
				<p class="item-title"><%= posts[i].name %></p>
				<div class="item-details">
					<p class="item-date"><%= posts[i].date %></p>
					<div class="item-tags">
						<% for(let k in posts[i].tags) { %>
							<a href="/tag?q=<%= posts[i].tags[k] %>"><%= posts[i].tags[k] %></a><%= k < posts[i].tags.length - 1 ? ', ' : '' %>
						<% } %>
					</div>
				</div>
			</div>
		</a>
	<% } %>
	<div class="page-list">
		Pages: 
		<% for (let i = 0; i < pages; i++) { %>
			<a href="/page/<%= +i+1 %>"><%= +i+1 %></a>
		<% } %>
	</div>
</div>