<div class="list-item">
	<a class="item-title" href="/p/<%=file%>"><%=title%></a>
	<div class="item-details">
		<p class="item-date"><%=date%> ᛫ <%=time%> <%=ampm%> (EST)</p>
		<p class="item-tags"><%-rtags%></p>
	</div>
</div>